<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209977313025-1slhfdf1c80bka0i0ops2j7dvcj7t0cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209977313025-1slhfdf1c80bka0i0ops2j7dvcj7t0cb</string>
	<key>API_KEY</key>
	<string>AIzaSyAQD3Qm7deGUGhWE6ZINx-X1O5yUdjIUho</string>
	<key>GCM_SENDER_ID</key>
	<string>209977313025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcilene</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-fa4d1</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-fa4d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209977313025:ios:b9285c10ceb7c01a643d00</string>
</dict>
</plist>